html, body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #8e8e8e;
  background-color: #f9f9f9;
  font-weight: 300;
  height: auto;
  min-width: 320px;
}

h1, h3{
  font-weight: 600 !important;
  color: #000
}

h3 {
  font-size: 1.5em;
}

p {
  line-height: 25px;
  font-size: .9em;
}

.gray {
  background-color: #E0E0E0;
}

.gray iframe {
  width: 100%;
  vertical-align: top;
  display: block;
  margin: 0;
  height: 270px;
}

.gray h2 {
  padding-top: 40px;
}

video {
  margin: 0;
  padding: 0;
}

#player {
  display: flex;
  align-content: flex-start;
}

/*
MENU
**/

.menu a:hover !important {
  background-color: #E0E0E0;
  color: black;
  -webkit-transition: .25s ease;
  -moz-transition: .25s ease;
  -o-transition: .25s ease;
  transition: 1s ease;
}

nav {
  display: block;
  list-style-type: none;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 15px;
  max-width: 912px;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: 2px;
  color: #8e8e8e;
  font-size: .75em;
}

nav a:hover {
  background-color: #E0E0E0;
}

nav a:active {
  box-shadow: 1.1px 1.1px 5px gray;
}

a.selected {
   background-color: #E0E0E0 !important;
   color: black;
}

img {
  width: 100%;
}

.media {
  display: none;
}

/*
CONTAINERS
**/

.container img {
  width: 80%;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.container h2, h1 {
    text-align: center;
    margin: 40px 0;
}

.container p {
  text-align: left;
  color: inherit;
}

.container a {
  color: #8dc7d3;
}

.center p {
  text-align: center;
  vertical-align: top;
}

.col_cont {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container .col_cont {
  margin: 50px 0;
}

.col_2 {
  width: 46%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 15px;
  margin: 40px 0;
}

.float {
  float: none;
}

.speaker {
   width: 60%;
   float: left;
   text-align: left;
}

.speaker img {
  width: 90%;
}

.col_img {
  width: 46%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 10px;
}

.col_4 p {
  text-align: center;
  margin: 35px 0;
}

.contact {
  width: 60%;
  margin: 0 auto;
}

#map {
   height: 400px;
   width: 100%;
   text-align: center;
}

.top {
  margin-top: 0 !important;
}

.bottom {
  margin-bottom: 0 !important;
}

b {
  color: #000;
}

iframe {
  margin: 40px 0;
}

.button {
   width: 100%;
   height: auto;
   margin: 50px 0;
}

table {
  color: #000;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

th, td {
  padding: 20px;
  border: 1px solid;
  -webkit-border-horizontal-spacing: 0px !important;
  -webkit-border-vertical-spacing: 0px !important;
  margin: 0;
}

.button a {
  background-color: #000;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 10px;
  font-weight: 200;
  font-size: 1em;
  color: #fff;
  width: 29%;
  -webkit-transition: box-shadow .25s ease;
  -moz-transition: box-shadow .25s ease;
  -o-transition: box-shadow .25s ease;
  transition: box-shadow .25s ease;
}

.button a:hover{
  background-color: grey;
  box-shadow: 0 5px 5px 1px #ccc;
}

/*
Sched
*
**/

.col-sm-3 p {
  text-align: center;
}

.col-sm-3 b {
   font-size: 16px;
   font-weight: 600;
}

.webSched {
  display: none;
}

/*
ACCORDIAN
*
**/

#accordion {
  margin: 50px 0 !important;
}

/*
CAROUSEL
*
**/

.carousel-indicators > li {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: solid 2px white;
  margin: 0 10px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  height: 50px;
  width: 50px;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
  opacity: 100;
}

.footer footer {
  /*height: 200px;*/
  background-color: #F6F6F6;
  display: block;
}

.footer h3{
  text-align: center;
  padding: 30px 0 0 0;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0 15px;
}

.footer a{
  color: #5199a8;
}

.footer a:hover{
  color: #8dc7d3;
  background-color: none;
}

footer p {
  text-align: right;
  padding: 40px 30px 100px 40px;
}

@media (max-width: 1000px) {
  .col_2 {
    width: 100%;
  }

  iframe {
    width: 100%;
    margin: 0;
  }

  .speaker {
    display: block;
    float: none;
    text-align: center;
    width: 100%;
  }

  h3.top {
    margin-top: 20px !important;
  }

  .float.speaker img {
    text-align: center;
    margin: auto;
  }

  .sched {
    display: none;
  }

  .webSched {
    display: block;
  }
}

@media (max-width: 640px) {

body, html {
    width: 100%;
    height: auto;
  }

.web {
  display: none;
}  

.media {
  display: block;
}

.container {
  width: 90%;
}

iframe {
    width: 100%;
  }

.col_2, .col_4, .col_cont {
  width: 100%;
}

p {
  font-size: 1.5em;
  line-height: 35px;
}

.button a {
   font-size: 1.5em;
}

h3 {
  font-size: 2em;
}

h1 {
  font-size: 2.5em;
}
}